body {
    display: flex;
    justify-content: center;
    background-color: #19191f;
}

.text {
    background-color: #F6AC87;
    white-space: pre-line;
    font-family: monospace;
    display: block;
    font-size: 16px;
    padding: 32px;
    margin-top: 10vh;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: underline;
}

.obfuscated1:before {
    content: "freya"
}

.obfuscated2:before {
    content: "frmik18"
}

@media screen and (max-width: 350px) {
    p {
        font-size: 14px;
    }
}
