body {
    display: flex;
    justify-content: center;
    background-color: #19191f;
    margin: 0;
}

.text {
    background-color: #f6ac87;
    white-space: pre-line;
    font-family: monospace;
    display: block;
    font-size: 16px;
    padding: 32px;
    margin-top: 15vh;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: underline;
}

.unspaced {
    letter-spacing: -0.17em;
}

.hidden {
    display: none;
}

@media screen and (max-width: 500px) {
    body {
        background-color: #f6ac87;
        display: block;
    }

    .text {
        font-size: 14px;
        padding: 24px;
        margin: auto;
    }

    .break {
        display: none;
    }
}
