body {
	background: url(/img/zwartevilt_@2X.jpg);
	background-color: #111;
}

img {
	user-select: none;
	user-drag: none; 
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.main {
	margin:auto;
	color: #EEE;
	margin-top: 15vh;
	text-align: center;
}

.avatar {
	width: calc(6vw + 48px);
	height: calc(6vw + 48px);
	border-radius: calc(3vw + 24px);;
}

.title {
	font-size: calc(3vw + 32px);
	font-family: "Noticia Text";
	display: block;
	margin: 16px 0 16px 0;
}

.subheader {
	font-size: calc(1vw + 16px);
	font-family: "Noticia Text";
	display: block;
	margin-bottom: 8px;
}

.horizontal-seperator {
	width: calc(30vw + 16px*8);
	height: 2px;
	background-color: #EEE;
	margin: 0 0 32px calc(50vw - 15vw - 16px*4);
}

.flex-container {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	justify-content: center;
	-webkit-flex-flow: row wrap;
}

.flex-item {
	width: calc(5.5vw + 48px);
	height: calc(3vw + 48px);
	border-radius: 0.4vw;
	margin: calc(0.5vw + 8px);
	z-index: 0;
}

.button-logo {
	width: calc(2vw + 32px);
	height: calc(2vw + 32px);
	margin: auto;
}

.shade {
	transition: 0.5s;
	background-color: rgba(0, 0, 0, 0);
	width: 100%;
	height: 100%;
	border-radius: 0.4vw;

	/* Get inner logo to center */
	display:flex;
	justify-content:center;
	align-items:center;
	-webkit-filter: brightness(100%);
	
}

.shade:hover {
	background-color: rgba(0, 0, 0, 0.3);
	-webkit-filter: brightness(70%);
}

.github {
	background-color: #FFFFFF;
}

.keybase {
	background-color: #FF7100;
}

.discord {
	background-color: #7289DA;
}

.patreon {
	background-color: #E6461A;
}

.twitter {
	background-color: #1DA1F3;
}

/* wew, this logo looks big */
.patreon > .shade > .button-logo {
	width: calc(1.5vw + 24px);
	height: calc(1.5vw + 24px);
}

/* This one too */
.github > .shade > .button-logo {
	width: calc(1.65vw + 26px);
	height: calc(1.65vw + 26px);
}